<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Colors & Type
	body.ui-kit-page
		img.toxin-logo(src='assets/img/toxin_logo.svg')
		.colors-block
			.colors-block__item
				.colors-block__square.colors-block__square_shade-100
				.colors-block__text
					b Dark Shade 100%
					br
					| #1F2041
			.colors-block__item
				.colors-block__square.colors-block__square_shade-75
				.colors-block__text
					b Dark Shade 75%
					br
					| #1F2041
			.colors-block__item
				.colors-block__square.colors-block__square_shade-50
				.colors-block__text
					b Dark Shade 50%
					br
					| #1F2041
			.colors-block__item
				.colors-block__square.colors-block__square_shade-25
				.colors-block__text
					b Dark Shade 25%
					br
					| #1F2041
			.colors-block__item
				.colors-block__square.colors-block__square_shade-5
				.colors-block__text
					b Dark Shade 5%
					br
					| #1F2041
			.colors-block__item
				.colors-block__square.colors-block__square_purple
				.colors-block__text
					b Purple
					br
					| #BC9CFF
			.colors-block__item
				.colors-block__square.colors-block__square_green
				.colors-block__text
					b Green
					br
					| #6FCF97
		.types-block
			.types-block__group
				.types-block__item.types-block__item_h1
					| H1
				.types-block__text.types-block__text_h1
					| This one is the sub-section or widget title
			.types-block__group
				.types-block__item.types-block__item_h2
					| H2
				.types-block__text.types-block__text_h2
					| Next one is the item title inside widgets
			.types-block__group
				.types-block__item.types-block__item_h3
					| H3
				.types-block__text.types-block__text_h3
					| This is a label or CTA text
			.types-block__group.types-block__group_last
				.types-block__item.types-block__item_body
					| Body
				.types-block__text.types-block__text_body
					| This is the body text which is used for most of the design, like paragraphs, lists, etc.
