<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Form elements
	body.form-elements-body
		img.toxin-logo(src='assets/img/toxin_logo.svg')
		.wrapper
			.wrapper__column_left.wrapper__column
			.wrapper__column_center.wrapper__column
			.wrapper__column_right.wrapper__column
