doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Webpack template
  body
    .ui-kit
      img.tom-image(src='assets/img/123.jpg', alt='Tom')
      h1
        | UI Kit
      ul
        li
          a(href ="./colors&type.html") Colors
        li
          a(href ="./cards.html") Cards
        li
          a(href ="./form_elements.html") Form elements
        li
          a(href ="./headers&footers.html") headers&footers
