doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Webpack template
  body
    .container
      | Test message with Montserrat font family.
      br
      | Page on PUG Jade syntax.
      hr
      | Webpack template by Kyoto540
      br
      img.tom-image(src='/assets/img/123.jpg', alt='Tom')
