@import "fonts.scss";
@import "mixins.scss";
@import "libs.scss";
@import "vars.scss";

html {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
.container{
	padding: 0.5rem;
	max-width: 1900px;
	margin: 0 auto;
	background-color: cornflowerblue;
	text-align: center;
	font-size: 2.5rem;
	border: solid 1.5rem navajowhite;
	border-radius: 10%;
	color: navajowhite;
}
.tom-image{
	width:5%;
	min-height: 1rem;
	margin: 1rem auto;
	margin-bottom: 0;
	position:relative;
	border: solid 1rem navajowhite;
	border-radius: 50%;
}
hr {
	display: hidden;
	border: dotted 0.2rem navajowhite;
	width:100%;
	}
